<style>
    /* 로그인 버튼 스타일 */
    #loginButton {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute; /* 위치를 절대 위치로 설정. */
        top: 10px; /* 상단 여백 설정 */
        right: 10px; /* 오른쪽 여백 설정 */
    }

    /* 버튼 위에 마우스를 올렸을 때 스타일 변경 */
    #loginButton:hover {
        background-color: #0056b3;
    }

    /* 지도 컨테이너 스타일 */
    #map-container {
        width: 90%;
        height: 90vh;
        margin: 0 auto; /* 가로 여백을 0으로 설정하여 가운데로 배치합니다. */
        text-align: center; /* 지도 컨테이너 안의 내용을 중앙 정렬합니다. */
        position: relative; /* 필요에 따라 position 값을 조정합니다. */
    }

    /* 지도 스타일 (선택사항) */
    #map {
        width: 90%;
        height: 90vh;
        margin-top: 50px; /* 로그인 버튼 아래 여백 설정 */
        display: inline-block; /* 지도를 가운데 정렬하기 위해 필요한 스타일 */
    }

</style>
